ul {
  list-style-type: none;
  padding-left: 0;
}

header nav li {
  display: inline;
}

#personal-information-section, #billing-information-section {
    display: flex;
    margin-bottom: 2.5em;
}

#personal-information-section input {
  width: 100%;
}

#personal-information-section ul {
  padding-right: 10%;
}

#billing-information-section>ul>ul {
  display: flex;
}

.size-30 {
  width: 30%;
}

.size-40 {
  width: 40%;
}

.size-60 {
  width: 60%;
}
