.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.front {
  background-color: red;
  border: 6px solid grey;
}

.back {
  background-color: white;
  border: 6px solid grey;
}

.back i {
  font-size: 100%;
}

input {
  display: block;
  width: 20%;
}

.matched {
  display: none;
}
