body {
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #EEEEEE;
}

#video-player-info li {
  padding: 10px 0px;
  text-align: justify;
  font-size: 20px;
}

#video-player-info h2 {
  padding-bottom: 10px;
}

#video-player-info {
  margin-right: 2em;
}

#video-player-info p{
  font-size: 15px;
}

header nav ul, .sections-main ul, footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}

header nav li {
  display: inline-block;
  padding: 0 10px;
}

header nav ul {
  float: right;
  line-height: 70px;
  margin-right: 3%;
}

header nav a {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

header nav li:hover, footer ul li:hover {
  background-color: #424242;
}

header nav {
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

footer {
  height: 70px;
  background-color: rgb(0, 0, 0);
  padding-right: 3%;
  padding-left: 3%;
}

footer ul {
  display: inline-flex;
  float: left;
  line-height: 70px;
}

footer ul li {
  display: inline-block;
  padding: 0 10px;
}

footer ul a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.logo {
  display: inline-block;
  line-height: 70px;
  margin-left: 3%;
}

header nav img {
  width: 75px;
  height: 45px;
  vertical-align: middle;
}

.main {
  margin: 6em 0 2em 0;
}

.sections-main {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.sections-main header h2 {
  font-weight: 100;
}

.divider {
  border-left: 1px solid #FFFFFF;
  height: 40px;
  align-self: center;
}

#video-player-main {
  display: flex;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
}

.video-player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-player iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#video-player-main h2 {
  margin: 0 auto;
}

#video-suggestions {
  margin-bottom: 2em;
}

.suggestions {
  display: flex;
  padding: 30px;
}

.video-suggested-card {
  background-color: #FFFFFF;
  margin: .5em .5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.video-suggested-img-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  background-color: inherit;
  margin: .7em;
}

.video-suggested-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-suggested-card h2 {
  font-size: 16px;
  font-weight: 100;
  padding: 1em .5em;
  margin: 0;
  background-color: #FFFFFF;
}

.video-suggested-card i {
  font-size: 2em;
  line-height: 16px;
  font-weight: 50;
  vertical-align: middle;
  float: right;
}

.circle {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

#user-name{
  padding-right: 20px;
}

.photo-id-nav {
  background-color: #FFF;
}

.size-15 {
  width: 15%;
}

.size-30 {
  width: 30%;
}

.size-33 {
  width: 33.3%;
}

.size-40 {
  width: 40%;
}

.size-60 {
  width: 60%;
}

.size-70 {
  width: 70%;
}

.larger-font {
  font-size: 5;
  font-weight: 300;
}
