body {
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #EEEEEE;
}

header nav {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 180px; /* TODO cambiar a porcentaje o em */

  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
}

header nav ul {
  padding: 0;
  margin: 0;
}

header nav ul li {
  align-self: center;
  height: auto; /*TODO Deberia ser un link ocupando todo el espacio entre
  hermanos, pero solo se rodea del texto */
}

header nav a, header nav h2 {
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#header-info {
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
}

#header-links {
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  height: inherit;
}

.container {
  display: flex;
  /*flex-direction: row; for horizontal, column for vertical*/
}

.image {
  max-width: 70px;
  max-height: 70px;
}

@media only screen and (min-width: 600px) {
  #header-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    flex-direction: row;
  }
  /*TODO no se distribuyen equitativamente los hijos del contenedor header nav*/
}
