* {
    box-sizing: border-box;
}

html, body {
  font-family: Roboto, sans-serif;
}

h1, body {
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center;
}

header {
  background-color: #000;
  color: white;
  height: 70px;
  margin: 0;
  width: 100%;
  padding-left: 5%;
  margin-bottom: 20px;
}

header h1 {
  line-height: 70px;
}

#board {
    perspective: 800px;
    margin: 0 auto;
}

/* This is the style for each card */
.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* This is the front of the card, this is the default state unless flipped */
.front {
    background-color: red;
    border: 6px solid grey;
}

/* This is the back of the card, showing the image and adding a transformation transition when it flips */
.back {
    background-color: white;
    border: 6px solid grey;
    transform: rotateY(180deg);
}

.back i {
    font-size: 100%;
}

/* This class applies when it has been a match, the card remains flipped */
.matched {
    transform: rotateY(180deg);

}

/* On a match the card's border changes its color to green to show the user found a pair  */
.matched .back {
    border: 6px solid green;
}

/* This style applies when the user clicks on the card, showing the front of it -a flip animation has been added */
.selected {
    transform: rotateY(180deg);
}

.card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card img {
    width: 100%;
    height: 100%;
}

form {
  margin: 0 auto;
  text-align: center;
}

form input {
  margin: 10px auto;
  width: 30%;
  display: block;
}

main {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.btn-main {
  font-size: 1em;
  margin: 10px 0;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px 30px;
  border: 0px;
}

#countdown {
  text-align: center;
  margin: 0 10%;
  font-size: 2em;
  border: 2px solid black;
  border-radius: 10px;

}
